In [1]:
#Convolutional Neural Network on MNIST handwritten digit dataset

In [2]:
#importing libraries
import keras
from keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.layers import Conv2D as Convolution2D, MaxPooling2D
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [4]:
col_names = ['contour number', 'aspect ratio', 'extent', 'Blue', 'Green', 'Red', 'Hue', 'class']
data = pd.read_csv("output.csv", skiprows=1, header=None, names=col_names)
data.head(10)

,contour number,aspect ratio,extent,Blue,Green,Red,Hue,class
0,28,0.923077,0.803775,42.769815,97.239460,115.102867,19.023609,0
1,68,0.979804,0.836557,63.621205,104.295904,104.446747,29.446747,0
2,51,0.760961,0.823015,59.701164,99.514131,103.025769,32.987531,0
3,31,0.957265,0.767948,50.077372,116.466180,137.658394,22.445255,0
4,50,0.828162,0.845766,60.658955,104.919383,113.961094,34.713985,0
5,47,0.890923,0.828608,52.141768,97.165096,107.391655,28.818304,0
6,45,0.950329,0.748096,48.570281,121.473896,109.674699,15.439759,0
7,39,0.901044,0.802361,56.255943,103.945878,107.513404,25.372281,0
8,53,0.539305,0.713518,44.690566,132.909434,108.475472,15.988679,0
9,47,0.915618,0.802961,51.757838,96.647207,110.642883,25.927928,0

In [5]:
data.head()

,contour number,aspect ratio,extent,Blue,Green,Red,Hue,class
0,28,0.923077,0.803775,42.769815,97.239460,115.102867,19.023609,0
1,68,0.979804,0.836557,63.621205,104.295904,104.446747,29.446747,0
2,51,0.760961,0.823015,59.701164,99.514131,103.025769,32.987531,0
3,31,0.957265,0.767948,50.077372,116.466180,137.658394,22.445255,0
4,50,0.828162,0.845766,60.658955,104.919383,113.961094,34.713985,0

In [6]:
#reshaping into 28X28 array
data.iloc[3,1:].values.reshape(28,28).astype('uint8')

ValueError: cannot reshape array of size 7 into shape (28,28)

In [ ]:
#preprocessing data

In [ ]:
#Storing Pixel array in form length width and channel in df_x
df_x = data.iloc[:,1:].values.reshape(len(data),28,28,1)

#Storing the labels in y
y = data.iloc[:,0].values

In [ ]:
#Converting labels to categorical features

df_y = keras.utils.to_categorical(y,num_classes=10)

In [ ]:
df_x = np.array(df_x)
df_y = np.array(df_y)

In [ ]:
#lables
y

array([1, 0, 1, ..., 7, 6, 9], dtype=int64)

In [ ]:
#categorical labels
df_y

array([[ 0.,  1.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.]])

In [ ]:
df_x.shape

(42000, 28, 28, 1)

In [ ]:
#test train split

x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.2,random_state=4)

In [ ]:
#CNN model
model = Sequential()
model.add(Convolution2D(32,3,data_format='channels_last',activation='relu',input_shape=(28,28,1)))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Flatten())
model.add(Dense(100))
model.add(Dropout(0.5))
model.add(Dense(10))
model.add(Activation('softmax'))
model.compile(loss='categorical_crossentropy', optimizer = 'adadelta', metrics = ['accuracy'])

In [ ]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_3 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
flatten_2 (Flatten)          (None, 5408)              0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               540900
_________________________________________________________________
dropout_2 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 10)                1010
_________________________________________________________________
activation_1 (Activation)    (None, 10)                0
=================================================================
Total params: 542,230
Trainable params: 542,230
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#fitting it with just 100 images for testing 

model.fit(x_train,y_train,validation_data=(x_test,y_test))

Train on 33600 samples, validate on 8400 samples
Epoch 1/10
33600/33600 [==============================] - 96s - loss: 7.7860 - acc: 0.5063 - val_loss: 4.4646 - val_acc: 0.7145
Epoch 2/10
33600/33600 [==============================] - 107s - loss: 3.8784 - acc: 0.7476 - val_loss: 1.6786 - val_acc: 0.8844
Epoch 3/10
33600/33600 [==============================] - 117s - loss: 1.7091 - acc: 0.8812 - val_loss: 1.0423 - val_acc: 0.9254
Epoch 4/10
33600/33600 [==============================] - 115s - loss: 1.0479 - acc: 0.9222 - val_loss: 0.7083 - val_acc: 0.9489
Epoch 5/10
33600/33600 [==============================] - 112s - loss: 0.7755 - acc: 0.9407 - val_loss: 0.5226 - val_acc: 0.9574
Epoch 6/10
33600/33600 [==============================] - 114s - loss: 0.6248 - acc: 0.9500 - val_loss: 0.4497 - val_acc: 0.9637
Epoch 7/10
33600/33600 [==============================] - 113s - loss: 0.5083 - acc: 0.9570 - val_loss: 0.3780 - val_acc: 0.9665
Epoch 8/10
33600/33600 [==============================] - 117s - loss: 0.4292 - acc: 0.9608 - val_loss: 0.3467 - val_acc: 0.9705
Epoch 9/10
33600/33600 [==============================] - 117s - loss: 0.3536 - acc: 0.9657 - val_loss: 0.3007 - val_acc: 0.9711
Epoch 10/10
33600/33600 [==============================] - 118s - loss: 0.3104 - acc: 0.9695 - val_loss: 0.2707 - val_acc: 0.9726

In [ ]:
model.evaluate(x_test,y_test)

8384/8400 [============================>.] - ETA: 0s

[0.27073475346692977, 0.97261904761904761]

In [ ]:
#imporove accuracy by more epocs till the loss is almost same